<%= form_for(@message = Message.new) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.text_area :body %>
    <%= f.submit "Send", class: "btn btn-default" %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#message_body").focus();
});
$("#message_body").keyup(function(e){
  if (e.which==13 && e.shiftKey){
    return false;
  }else if (e.which == 13){
    this.form.submit();
    $("#message_body").blur();
    return false;
  }
})

</script>