<tr>
    <td class = "chatuser">
       	<%= link_to Message.first.user do %>
     		<div class = "avatar-chat-<%= Message.first.user.avatar %> chaticon"></div>
       	<% end %>
       	<div style = "color:<%= Message.first.user.color_code %>;" ><%= Message.first.user.username %></div>
    </td>
    <td class = "chatmessage">
      	<span style = "border-color:<%= Message.first.user.color_code %>;" ><%= Message.first.body %></span>
    </td>
</tr>