<div class = "col-md-1"></div>
<div class = "col-md-10 chat">
	<div class = "chatbox" id = "scroll">
		<% Message.all.reverse_each do |message| %>
			<table class = "chatcontainer">
				<tr>
			        <td class = "chatuser">
			        	<%= link_to message.user do %>
			        		<div class = "avatar-chat-<%= message.user.avatar %> chaticon"></div>
			        	<% end %>
			        	<div style = "color:<%= message.user.color_code %>;" ><%= message.user.username %></div>
			        </td>
			        <td class = "chatmessage">
			        	<span style = "border-color:<%= message.user.color_code %>;" ><%= message.body %></span>
			        </td>
			    </tr>
		    </table>
	    <% end %>
	</div>
	<div class = "inputform">
		<%= render 'messages/form' %>
	</div>
</div>
<div class = "col-md-1"></div>

<script type="text/javascript">
	var objDiv = document.getElementById("scroll");
	objDiv.scrollTop = objDiv.scrollHeight;
</script>
